<li class="contact {{selected-status}}">
    <span class="contact__status {{status}}"></span>
    <div class="contact__avatar">
        <img src="{{image-src}}" alt="avatar">
        <span class="contact__count-messages {{count-active}}">{{count-message}}</span>
    </div>
    <div class="contact__content">
        <p class="contact__name">{{contact-name}}</p>
        <p class="contact__message {{outgoing}}"><span>Вы:</span> {{contact-message}}</p>
    </div>
    <p class="contact__time">{{time}}</p>
</li>
